// Custom fonts are defined in here, to make them available
// for use elsewhere. e.g. in site.scss
// If a font isn't wokring, make sure the font file is
// actually in source control

//@font-face {
//  font-family: 'Cabin';
//  src: url('/fonts/Cabin-VariableFont_wdth,wght.ttf') format('truetype supports variations'),
//  url('/fonts/Cabin-VariableFont_wdth,wght.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'EBGaramond';
//  src: url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype supports variations'),
//  url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//@font-face {
//  font-family: 'EBGaramondItalic';
//  src: url('/fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype supports variations'),
//  url('/fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'HeptaSlab';
//  src: url('/fonts/HeptaSlab-SemiBold.ttf') format('truetype supports variations'),
//  url('/fonts/HeptaSlab-SemiBold.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Inconsolata';
//  src: url('/fonts/Inconsolata-Regular.ttf') format('truetype supports variations'),
//  url('/fonts/Inconsolata-Regular.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Jost';
//  src: url('/fonts/Jost-VariableFont_wght.ttf') format('truetype supports variations'),
//  url('/fonts/Jost-VariableFont_wght.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'JostItalic';
//  src: url('/fonts/Jost-Italic-VariableFont_wght.ttf') format('truetype supports variations'),
//  url('/fonts/Jost-Italic-VariableFont_wght.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Lato';
//  src: url('/fonts/Lato-Regular.ttf') format('truetype supports variations'),
//  url('/fonts/Lato-Regular.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Manrope';
//  src: url('/fonts/Manrope-VariableFont_wght.ttf') format('truetype supports variations'),
//  url('/fonts/Manrope-VariableFont_wght.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Raleway';
//  src: url('/fonts/Raleway-Regular.ttf') format('truetype supports variations'),
//  url('/fonts/Raleway-Regular.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'RobotoFlex';
//  src: url('/fonts/RobotoFlex[slnt,wdth,wght,opsz].ttf') format('truetype supports variations'),
//  url('/fonts/RobotoFlex[slnt,wdth,wght,opsz].ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'SourceSansPro-Regular';
//  src: url('/fonts/SourceSansPro-Regular.ttf') format('truetype supports variations'),
//  url('/fonts/SourceSansPro-Regular.ttf') format('truetype-variations');
//  //font-weight: 100 1000;
//  //font-stretch: 25% 151%;
//  font-display: swap;
//}




