
@import "variables.scss";

// We use abbreviations in the template areas, so that we can
// lay them out in a grid evenly, rather than having wildly
// different line lengths.
// hd = headers
// mc = main content
// nv = navigation
// ft = footer


.phpimagick_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.phpimagick_header {
  grid-area: hd;
  padding-left: var(--page_padding_left);
}

.phpimagick_content {
  grid-area: mc;
  padding-left: var(--page_padding_left);
  overflow-x: auto;
  margin-top: var(--padding_above_main_flow);
}

.phpimagick_navigation {
  grid-area: nv;
  margin-top: var(--padding_above_main_flow);
}

.phpimagick_nope {
  grid-area: no;
  margin-top: var(--padding_above_main_flow);
}

.phpimagick_footer {
  grid-area: ft;
  flex-shrink: 0;
}

// This is default, for screens larger than $screen_break_large
.phpimagick_wrapper {
  display: grid;
  grid-template-columns: 255px 1fr;
  grid-template-areas:
    "hd hd"
    "nv mc"
    "ft ft";
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: $screen_break_medium) {
  .phpimagick_wrapper {
    grid-template-areas:
        "hd hd"
        "mc mc"
        "ft ft";
    flex-direction: column;
    align-items: stretch;
  }
}


// This is default, for screens larger than $screen_break_large
.phpimagick_title_wrapper {
  display: grid;
  grid-template-columns: 255px 1fr;
  grid-template-areas:
        "hd hd"
        "mc mc"
        "ft ft";
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: $screen_break_medium) {
  .phpimagick_title_wrapper {
    grid-template-areas:
        "hd hd"
        "mc mc"
        "ft ft";
    flex-direction: column;
    align-items: stretch;
  }
}