
.navContainer {

  @media (max-width: $screen_break_medium) {
    display: none;
  }

  padding: var(--padding_inside_panel);
  font-size: 12px;

  a {
    color: #428bca;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  .searchBox {
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
    padding-left: 8px;
    width: 95%;
    padding-top: 3px;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 8px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .searchNoResults {
    display: none;
    padding-top: 15px
  }

  .searchBox:active {
    border-color: #428BCA;
  }

  ul {
    list-style: none;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    a {
      margin-left: 10px;
    }
  }

  a:hover {
    background-color: #eeeeee;
  }

  .navActive {
     a {
       color: #ffffff;
     }
    background-color: #428BCA;
  }

  .navActive > a:hover {
    background-color: #428BCA;
  }
}