// Hello! If you're looking at this file, you're probably wondering just
// how bad someone can be at CSS. Well, you're about to find out.

// @media (min-width: $screen_break_large) {
// }
// @media (max-width: $screen_break_medium) {
// }
// @media (max-width: $screen_break_small) {
// }

@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "layout.scss";
@import "basic.scss";

@import "header.scss";
@import "navigation.scss";
@import "content.scss";
@import "footer.scss";

@import "tooltip.scss";


.contentPanel {
  background-color: #fbfbfb;
  border: 3px double #CBCBCB;
  color: #3f3f3f;
  margin-bottom: 5px;
  padding: var(--padding_inside_panel);
}


.original_instructions {

}

.support_panel {
  padding-bottom: 30px;
}