

.tooltip {
  .tooltip_text {
    width: 120px;
    background-color: white;

    padding: 5px;
    border-radius: 6px;
    border: 1px solid #2a6496;

    position: absolute;
    z-index: 1;
  }
}


