<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% set pageTitleObj = inject('ImagickDemo\\Helper\\PageInfo') %}

    <title>
        {{ pageTitleObj.getTitle() | raw }}
    </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel='stylesheet' type='text/css' media='screen' href='/css/bootstrap.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='/css/imagick.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='/css/colpick.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='/css/jquery/jQuery.tablesorter.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='/css/syntaxhighlighter/shCoreDefault.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='/css/syntaxhighlighter/shThemePHPStormLight.css' />

    <style>
        .filter-table .quick { margin-left: 0.5em; font-size: 40px; text-decoration: none; }
        .fitler-table .quick:hover { text-decoration: underline; }
        td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }
    </style>
</head>

<body>
