{% set nav = inject('ImagickDemo\\Navigation\\CategoryNav') %}
{% set navBar = inject('ImagickDemo\\NavigationBar') %}

<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container visible-lg">
        <nav class="navbar-default " role="navigation">
            <ul class="nav navbar-nav menuBackground">
                {{ navBar.render() | raw }}
            </ul>
        </nav>

        <nav class="navbar-default pull-right" role="navigation">
            <ul class="nav navbar-nav menuBackground">
                 {{ navBar.renderRight() | raw }}
            </ul>
        </nav>   
    </div>
    
    
    <div class="container visible-md" >
        <nav class="navbar-default " role="navigation">
            <ul class="nav navbar-nav menuBackground">
                {{ navBar.render() | raw }}
                {{ navBar.renderRight() | raw }}
            </ul>
        </nav>   
    </div>

    <div class="container visible-xs visible-sm">
        <ul class="nav navbar-nav menuBackground">
        {{ navBar.renderSelect() | raw }}
        {{ nav.renderSelect() | raw }}
        </ul>
    </div>
</header>