{% include 'framework/pageStart.html' %}
{% include 'framework/topNavBar.html' %}


    
<div class='container'>
    <div class="row">
        <div class="col-md-12">
            {% set opCacheInfoWidget = inject('ImagickDemo\\Widget\\OpcacheInfoSelector') %}
            {{ opCacheInfoWidget.render() | raw }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">


            {% set opCacheInfo = inject('ImagickDemo\\Model\\OPCacheInfo') %}
            {{ opCacheInfo.render() | raw }}
        </div>
    </div>


    {% include 'framework/pageFooter.html' %}
</div>

{% include 'framework/pageEnd.html' %}