.smallPadding > tbody > tr > td,
.smallPadding > li > a {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.smallPadding > tbody > tr > td{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}



.navActive {
    color: #ffffff;
    background-color: #428BCA;
}


.noMarginTop {
    margin-top: 0px;
}

.standardCell {
    /* padding-left: 3px; */
    padding-right: 4px;
    padding-bottom: 4px;
}

/* .inputValue,*/
.valueCell {
    text-align: right;
}


@media (max-width: 992px) {
    .responsiveFont {
        font-size: 10px;
    }
}

pre {
    display: inline-block;
    padding-right: 60px;
}


@media (min-width: 900px) {
    .shContainer {
        max-width: 1200px;
        font-size: 14px;
    }
}
@media (min-width: 640px) and (max-width: 900px) {
    .shContainer {
        width: 600px;
        font-size: 10px;
    }
}
@media (max-width: 640px) {
    .shContainer {
        width: auto;
        font-size: 8px;
    }
}