.smallPadding > tbody > tr > td,
.smallPadding > li > a {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

body {
    
    background-color: #ffffff;
}


.contentPanel {
    background-color: #fbfbfb; 
    /* border: 1px solid #f5f5f5; */
    border: 3px double #CBCBCB;
    color: #3f3f3f;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.textPanelSpacing {
    padding-top: 5px;
}

.navPanel {
    font-size: 12px;
    /*text-align: right */
}

.exampleHeader {
    margin-left: 20px;
}

.nav-sidebar {
    display: inline-block;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-top: 8px;
    padding-bottom: 4px;
    min-width: 190px;
}


@media (min-width: 992px) and (max-width: 1200px) {
    .leftShift {
        margin-left: -32px;
    }
    .leftShiftPush {
        margin-right: 17px;
    }
}

@media (min-width: 1200px) {
    .leftShift {
        margin-left: -77px;
    }
    .leftShiftPush {
        margin-right: 62px;
    }
}



@media (max-width: 992px) {
    .navbar {
        margin-bottom: 0px;
    }
}

.smallPadding > tbody > tr > td{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.formContainer {
    padding-left: 30px;
}

.blankSpacer {
    margin-top:6px;
    margin-bottom:6px;
}

.blankSpacer:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.hrSpacer {
    margin-bottom:16px;
    background-color: #FFFFFF;
    background-image: url("/images/hr.php");
    background-repeat: no-repeat;
    background-position: center;
    
}

.hrSpacer:empty {
    display: none;
}

/*
.hrSpacer:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
*/

.compositeTableTD {
    padding-left: 4px;
    padding-right: 4px;
}



.navActive {
    color: #ffffff;
    background-color: #428BCA;
}

.navActive > a:hover {
    background-color: #428BCA;
}

.navActiveLink {
    color: #ffffff;
}

.navActiveLink:hover {
    color: #ffffff;
    background-color: #428BCA !important;
}

.navSpacer {
    padding-left: 10px;
}


.noMarginTop {
    margin-top: 0px;
}

.standardCell {
    /* padding-left: 3px; */
    padding-right: 4px;
    padding-bottom: 4px;
}

/* .inputValue,*/
.valueCell {
    text-align: right;
}


@media (max-width: 992px) {
    .responsiveFont {
        font-size: 10px;
    }
}

pre {
    display: inline-block;
    padding-right: 60px;
}


.menuBackground {
    /* background-color: #a5a5a5;
    padding-left: 1px; */
}

.menuItem {
    /*background-color: #ffffff;
    margin-bottom: 1px;
    margin-right: 1px;*/
}




@media (min-width: 900px) {
    .shContainer {
        max-width: 1200px;
        font-size: 14px;
    }
}
@media (min-width: 640px) and (max-width: 900px) {
    .shContainer {
        width: 600px;
        font-size: 10px;
    }
}
@media (max-width: 640px) {
    .shContainer {
        width: auto;
        font-size: 8px;
    }
}