/*  #000080; */
/* PHP doesn't use preprocessor */
/* PHPStorm claims this is #660000 but this looks better*/
/* predefined symbols */
/* unused? */
/* operators? Unused by PHP currently */
/*Symbols? Unused by PHP currently */
/* Differs per brush Unused by PHP currently */
.syntaxhighlighter {
  background-color: transparent !important;
  /*
   font-style: $code_plain_style !important;
   font-weight: $code_plain_weight !important;
   */ }
  .syntaxhighlighter .line.alt1 {
    background-color: transparent !important; }
    .syntaxhighlighter .line.alt2 {
      background-color: transparent !important; }
    .syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
      background-color: #e0e0e0 !important; }
      .syntaxhighlighter .line.highlighted.number {
        color: black !important; }
  .syntaxhighlighter table caption {
    color: #000 !important; }
    .syntaxhighlighter table td.code .container textarea {
      background: transparent;
      color: #000; }
  .syntaxhighlighter .gutter {
    color: #afafaf !important; }
    .syntaxhighlighter .gutter .line {
      border-right: 3px solid #5070ff !important; }
      .syntaxhighlighter .gutter .line.highlighted {
        background-color: #5070ff !important;
        color: transparent !important; }
  .syntaxhighlighter.printing .line .content {
    border: none !important; }
  .syntaxhighlighter.collapsed {
    overflow: visible !important; }
    .syntaxhighlighter.collapsed .toolbar {
      color: #00f !important;
      background: #fff !important;
      border: 1px solid #5070ff !important; }
      .syntaxhighlighter.collapsed .toolbar a {
        color: #00f !important; }
        .syntaxhighlighter.collapsed .toolbar a:hover {
          color: #f00 !important; }
  .syntaxhighlighter .toolbar {
    color: #fff !important;
    /* background: $toolbar_background !important;
     border: $toolbar_border !important; */ }
    .syntaxhighlighter .toolbar a {
      color: #fff !important; }
      .syntaxhighlighter .toolbar a:hover {
        color: #afafaf !important; }
  .syntaxhighlighter .toolbarElement {
    background: #102090 !important;
    border: none !important;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    padding-top: 2px;
    font-size: 12px; }
  .syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #000 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #808080 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #008000 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .keyword {
    color: #102090 !important;
    font-style: inherit !important;
    font-weight: bold !important; }
  .syntaxhighlighter .preprocessor {
    color: #000 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .variable {
    color: #900000 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .value {
    color: #00f !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .functions {
    color: #000 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .constants {
    color: #660e7a !important;
    font-style: italic !important;
    font-weight: bold !important; }
  .syntaxhighlighter .script {
    color: #000 !important;
    background-color: #fff !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #000 !important; }
  .syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #000 !important; }
  .syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: #000 !important; }
