{% extends 'base.html' %}

{% block top_nav_bar %}
    {% include 'framework/topNavBarForCategory.html' %}
{% endblock %}

{% block page_body %}


{% set pageTitleObj = inject('ImagickDemo\\Helper\\PageInfo') %}
{% set control = inject('ImagickDemo\\Control') %}
{% set example = inject('ImagickDemo\\Example') %}
{% set docHelper = inject('ImagickDemo\\DocHelper') %}
{% set nav = inject('ImagickDemo\\Navigation\\CategoryNav') %}
{% set navBar = inject('ImagickDemo\\NavigationBar') %}

<div class='container'>
    <div class="row hidden-md hidden-lg">
        <div class="col-xs-8">
            <h3 class='noMarginTop'>
                {{ pageTitleObj.getTitle() | raw }}
            </h3>
            <div class="row">
                <div class="col-md-12 " style="padding-top: 2px;">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ example.render() | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row visible-md visible-lg">
        <div class="col-md-2 navPanel">
            {{ nav.renderNav() | raw }}
        </div>
        <div class="col-md-10 columnAdjust">
            <div class='row'>
                 <div class='col-md-12 visible-md visible-lg contentPanel'>
                    <div class="row hidden-sm hidden-xs">
                        <div class="col-sm-8">
                            <h1 class='titleMargin'>
                                {{ pageTitleObj.getTitle() | raw }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 " style="padding-top: 2px;">
                    <div class="row">
                        <div class="col-sm-12 contentPanel">
                            {{ example.render() | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}