
{% extends 'base.html' %}

{% block page_body %}

{% set control = inject('ImagickDemo\\Control') %}
{% set example = inject('ImagickDemo\\Example') %}
{% set docHelper = inject('ImagickDemo\\DocHelper') %}
{% set nav = inject('ImagickDemo\\Navigation\\CategoryNav') %}
{% set navBar = inject('ImagickDemo\\NavigationBar') %}


{% set remaining = 12 - example.getColumnRightOffset() %}

<div class='container'>
    <div class="row hidden-xs hidden-md hidden-lg">


        <div class="col-xs-6">
            <h3 class='noMarginTop'>
                {{ example.renderTitle() | raw }}
            </h3>
        </div>
        <div class="col-xs-6 " style='text-align: right'>
            {{ nav.renderPreviousLink() | raw }}
            {{ nav.renderNextLink() | raw }}
        </div>

    </div>



    <div class="row">
        <div class="col-md-2 visible-md visible-lg navPanel">
            {{ nav.renderNav() | raw }}
        </div>

        <div class="col-md-10 columnAdjust">
            <div class='row'>

                <div class='col-md-12 visible-md visible-lg contentPanel'>
                    <div class="row hidden-sm hidden-xs">
                        <div class="col-sm-6">
                            <h3 class='titleMargin'>
                                {{ example.renderTitle() | raw }}
                            </h3>
                        </div>

                        <div class="col-sm-6" style='text-align: right'>
                            <span class="titleMargin" style="display: block; padding-top: 3px">
                                {{ nav.renderPreviousLink() | raw }}
                                <span style="width: 40px; display: inline-block">&nbsp;</span>
                                {{ nav.renderNextLink() | raw }}
                            </span>
                        </div>
                    </div>

                    {% set docDescription = docHelper.showDescription() %}


                    {% if docDescription %}
                    {{ docDescription | raw }}
                    <br/>
                    {% endif %}

                    {% set description = example.renderDescription() %}

                    {% if description %}
                    {{ description | raw }}
                    <br/>
                    {% endif %}

                </div>

            </div>

            <div class="row">
                <div class="col-md-{{ remaining }} " style="padding-top: 2px;">

                    <div class="row">
                        <div class="col-md-7 col-xs-12 contentPanel">
                            {{ example.render() | raw }}
                        </div>
                        <div class="col-sm-5 formHolder">
                            {{ control.renderForm() | raw }}
                        </div>
                    </div>
                </div>
            </div>

            {{ docHelper.showDescriptionPanel(true) | raw }}
            {{ example.renderDescriptionPanel(true) | raw }}
            {{ docHelper.showParametersPanel() | raw }}
            {{ docHelper.showExamples() | raw }}
        </div>

        <div class="row visible-xs visible-sm">
            <div class="col-md-12">
                {{ navBar.renderIssueLink() | raw }}
            </div>
        </div>
    </div>
</div>


{% endblock %}