.syntaxhighlighter {
  background-color: black !important;
  /*
   font-style: $code_plain_style !important;
   font-weight: $code_plain_weight !important;
   */ }
  .syntaxhighlighter .line.alt1 {
    background-color: black !important; }
    .syntaxhighlighter .line.alt2 {
      background-color: black !important; }
    .syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
      background-color: #2a3133 !important; }
      .syntaxhighlighter .line.highlighted.number {
        color: white !important; }
  .syntaxhighlighter table caption {
    color: #d3d3d3 !important; }
    .syntaxhighlighter table td.code .container textarea {
      background: black;
      color: #d3d3d3; }
  .syntaxhighlighter .gutter {
    color: #d3d3d3 !important; }
    .syntaxhighlighter .gutter .line {
      border-right: 3px solid #900 !important; }
      .syntaxhighlighter .gutter .line.highlighted {
        background-color: #900 !important;
        color: black !important; }
  .syntaxhighlighter.printing .line .content {
    border: none !important; }
  .syntaxhighlighter.collapsed {
    overflow: visible !important; }
    .syntaxhighlighter.collapsed .toolbar {
      color: #ebdb8d !important;
      background: black !important;
      border: 1px solid #900 !important; }
      .syntaxhighlighter.collapsed .toolbar a {
        color: #ebdb8d !important; }
        .syntaxhighlighter.collapsed .toolbar a:hover {
          color: #ff7d27 !important; }
  .syntaxhighlighter .toolbar {
    color: #fff !important;
    /* background: $toolbar_background !important;
     border: $toolbar_border !important; */ }
    .syntaxhighlighter .toolbar a {
      color: #fff !important; }
      .syntaxhighlighter .toolbar a:hover {
        color: #9ccff4 !important; }
  .syntaxhighlighter .toolbarElement {
    background: #900 !important;
    border: none !important;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    padding-top: 2px;
    font-size: 12px; }
  .syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #d3d3d3 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #ff7d27 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #ff9e7b !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .keyword {
    color: aqua !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .preprocessor {
    color: #aec4de !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .variable {
    color: #ffaa3e !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .value {
    color: #090 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .functions {
    color: #81cef9 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .constants {
    color: #ff9e7b !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .script {
    color: aqua !important;
    background-color: none !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #ebdb8d !important; }
  .syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #ff7d27 !important; }
  .syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: #aec4de !important; }
