.syntaxhighlighter {
  background-color: #0a2b1d !important;
  /*
   font-style: $code_plain_style !important;
   font-weight: $code_plain_weight !important;
   */ }
  .syntaxhighlighter .line.alt1 {
    background-color: #0a2b1d !important; }
    .syntaxhighlighter .line.alt2 {
      background-color: #0a2b1d !important; }
    .syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
      background-color: #233729 !important; }
      .syntaxhighlighter .line.highlighted.number {
        color: white !important; }
  .syntaxhighlighter table caption {
    color: #f8f8f8 !important; }
    .syntaxhighlighter table td.code .container textarea {
      background: #0a2b1d;
      color: #f8f8f8; }
  .syntaxhighlighter .gutter {
    color: #497958 !important; }
    .syntaxhighlighter .gutter .line {
      border-right: 3px solid #41a83e !important; }
      .syntaxhighlighter .gutter .line.highlighted {
        background-color: #41a83e !important;
        color: #0a2b1d !important; }
  .syntaxhighlighter.printing .line .content {
    border: none !important; }
  .syntaxhighlighter.collapsed {
    overflow: visible !important; }
    .syntaxhighlighter.collapsed .toolbar {
      color: #96dd3b !important;
      background: #000 !important;
      border: 1px solid #41a83e !important; }
      .syntaxhighlighter.collapsed .toolbar a {
        color: #96dd3b !important; }
        .syntaxhighlighter.collapsed .toolbar a:hover {
          color: #fff !important; }
  .syntaxhighlighter .toolbar {
    color: #fff !important;
    /* background: $toolbar_background !important;
     border: $toolbar_border !important; */ }
    .syntaxhighlighter .toolbar a {
      color: #fff !important; }
      .syntaxhighlighter .toolbar a:hover {
        color: #ffe862 !important; }
  .syntaxhighlighter .toolbarElement {
    background: #41a83e !important;
    border: none !important;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    padding-top: 2px;
    font-size: 12px; }
  .syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #f8f8f8 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #336442 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #9df39f !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .keyword {
    color: #96dd3b !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .preprocessor {
    color: #91bb9e !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .variable {
    color: #ffaa3e !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .value {
    color: #f7e741 !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .functions {
    color: #ffaa3e !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .constants {
    color: #e0e8ff !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .script {
    color: #96dd3b !important;
    background-color: none !important;
    font-style: inherit !important;
    font-weight: inherit !important; }
  .syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #eb939a !important; }
  .syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #91bb9e !important; }
  .syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: #edef7d !important; }

.syntaxhighlighter .comments {
  font-style: italic !important; }
  .syntaxhighlighter .keyword {
    font-weight: bold !important; }
